<div class="flex flex-col mb-8 items-center">
  <div class="w-2/5 mx-auto  mt-8">
    <h3 class="mb-8 font-medium text-base"> My Profile </h3>
    <div class="flex space-x-6 ">
      <%= image_tag "profile_pic.jpg", class: "w-16 h-16 rounded-full cursor-pointer", alt: "profile pic" %>
      <div class="pt-3">
        <p class="font-medium text-lg">Kimberly Msabeni </p>
        <p class="font-normal text-base text-gray-700"> @msabeni </p>
      </div>
    </div>
  </div>

  <div class="w-2/5 mx-auto align-center bg-white shadow-md rounded px-8 pt-6 pb-8 my-8 space-y-3">
    <div class="space-y-1">
      <h3 class="font-normal text-base text-gray-700"> Display Name </h3>
      <div class="flex justify-between">
        <p class="font-semibold text-base">Kimberly Msabeni </p>
        <button class="bg-purple-500 hover:bg-purple-700 text-white font-semibold py-1 px-4 rounded">
          Edit
        </button>
      </div>
    </div>

    <div class="space-y-1">
      <h3 class="font-normal text-base text-gray-700"> User Name </h3>
      <div class="flex justify-between">
        <p class="font-semibold text-base">@msabeni </p>
        <button class="bg-purple-500 hover:bg-purple-700 text-white font-semibold py-1 px-4 rounded">
          Edit
        </button>
      </div>
    </div>

    <div class="space-y-1">
      <h3 class="font-normal text-base text-gray-700"> Phone No </h3>
      <div class="flex justify-between">
        <p class="font-semibold text-base"> +25574862687 </p>
        <button class="bg-purple-500 hover:bg-purple-700 text-white font-semibold py-1 px-4 rounded">
          Edit
        </button>
      </div>
    </div>

    <div class="space-y-1">
      <h3 class="font-normal text-base text-gray-700"> Location </h3>
      <div class="flex justify-between">
        <p class="font-semibold text-base">Mwanza , Tanzania</p>
        <button class="bg-purple-500 hover:bg-purple-700 text-white font-semibold py-1 px-4 rounded">
          Edit
        </button>
      </div>
    </div>

    <div class="space-y-1">
      <h3 class="font-normal text-base text-gray-700"> Password </h3>
      <div class="flex justify-between">
        <p class="font-semibold text-base">*********</p>
        <button class="bg-purple-500 hover:bg-purple-700 text-white font-semibold py-1 px-4 rounded">
          Change
        </button>
      </div>
    </div>
  </div>

  <%= button_to('Log out', destroy_user_session_path, method: :delete, data: { "turbo-method": :delete }, class: " hover:bg-purple-500  font-medium py-1 px-4 mx-auto rounded")  %>


</div>