<div class="w-2/5 mx-auto my-16 ">
  <h2 class="mb-8 font-semibold text-center"> My Profile </h2>
  <div class="p-8 bg-white shadow-md rounded space-y-4 my-4">
    <div class="space-y-1"> 
      <h3 class="font-normal text-base text-gray-700"> Name </h3>
      <p class="font-semibold text-base"><%= current_user.full_name %></p>
    </div>
    <hr>
    <div class="space-y-1"> 
      <h3 class="font-normal text-base text-gray-700"> Email </h3>
      <p class="font-semibold text-base"><%= current_user.email %></p>
    </div>
  </div>

  <div class="flex items-center justify-between content-end">
    <%= link_to "Edit Profile", edit_user_registration_path, class: "bg-purple-500 hover:bg-purple-700 text-white text-center font-bold w-full py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
    