<div class="xl:w-1/3 md:w-1/2 p-4" id="<%= dom_id band %>">
  <div class="border border-gray-300 p-6 rounded-lg">
    <% if band.image %>
      <%= image_tag band.image_url class: "object-cover object-center rounded mb-8 w-full", alt: band.name %>
    <% else %>
      <img alt="feature" class="object-cover object-center rounded mb-8 w-full" src="https://dummyimage.com/340x250/edf2f7/a5afbd">
    <% end %>
    <%= link_to band.name, band, class: "text-lg text-gray-900 font-bold title-font mb-2" %>
    <p class="leading-relaxed text-base"><%= band.bio %></p>
  </div>
</div>
