<div id="<%= dom_id band %>">
  <% if action_name != "show" %>
    <%= link_to "Show this band", band, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this band', edit_band_path(band), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
