<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <section class="text-gray-700 body-font border-t border-gray-200">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <% @bands.each do |band| %>
          <%= render "band", band: band %>
        <% end %>
      </div>
      <button class="flex mx-auto mt-16 text-white bg-purple-500 hover:bg-purple-800 text-white font-semibold border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">See More</button>
    </div>
  </section>
</div>
